@font-face {
    font-family: 'Ticking Timebomb BB';
    src: local('Ticking Timebomb BB Italic'), local('TickingTimebombBB-Italic'),
        url('TickingTimebombBB-Italic.woff2') format('woff2'),
        url('TickingTimebombBB-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Ticking Timebomb BB';
    src: local('Ticking Timebomb BB'), local('TickingTimebombBB'),
        url('TickingTimebombBB.woff2') format('woff2'),
        url('TickingTimebombBB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

