body {
  background-color: #d9afd9;
  background-image: linear-gradient(
    180deg,
    #d9afd9 0%,
    #97d9e1 50%,
    #4878cc 100%
  );
}

.todo-box input {
  margin-bottom: 20px;
  background-color: burlywood;
  color: sienna;
  text-align: center;
  width: 300px;
  height: 50px;
  border-radius: 20px;
  border: none;
}

.todo-box button {
  width: 125px;
  height: 50px;
  border-radius: 20px;
  border: none;
  color: burlywood;
  background-color: sienna;
  cursor: pointer;
}

.todoText textarea {
  text-align: center;
  width: auto;
  color: sienna;
  font-size: 20px;
  background: transparent;
  border: none;
}
